body{
    background: none;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: url(../assets/images/banner-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left; 
    width: 100%;
    height: 650px;
    margin: 0; 
}

.flex-header{
    display: flex;
    justify-content: space-between;
    padding: 55px;
    padding-left: 75px;
    padding-right: 75px;
}

.conjunto-header-1{
    width: 65%;
    color: #fff;
    font-family: arial;
}

.contenido-header{
    margin-top: 55px;
    font-size: 25px; 
    font-weight: 100;
    color: #fffb; 
} 

.box-botton-header{
    margin-top: 80px;
}

.botton-header{
    width: 155px;
    height: 50px;
    font-family: arial;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    border-radius: 35px;
    background: rgb(0, 255, 173);
    border-style: none;
}

.new{
    font-size: 70px;

}

.logo{
    width: 100px;
    height: 100px;
}

.conjunto-header-2{
    font-family: arial;
    color: #fff;
    font-weight: 100;
}

.abajito{
    margin-top: 35px; 
}

.especial-focus-header:hover{
    cursor: pointer;
    color: #fffa;
}

.primera-parte-flex{
    background: #fff;
    width: 100%;

}

.primera-parte{
    margin-top: 100px;
}

.titulo-primera-parte{
    text-align: center;
}

.false-title{
    color: #000;
    font-size: 45px;
    font-weight: bolder;
    font-family: arial;
    font-style: italic;
}

.primera-parte-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: arial; 
}

.box-smart1{
    width: 15%;
    text-align: center;

}

.title-smart1{
    letter-spacing: 2px;
    color: #000b;
}

.contenido-smart1{
    margin-top: 10px;
    font-weight: 100;
    color: #0007;
}

.gradiante{
    background: linear-gradient(to bottom right, #FFF 50%, rgb(0, 255, 173) 50%);
}


.segunda-parte-flex{
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.title-segunda-parte{
    font-size: 35px;
    font-family: arial;
    font-weight: bolder;
    padding: 0;
}

.contenido-segunda-parte{
    text-align: justify; 
    margin-top: 25px;
    font-family: arial;
    font-size: 17px;
    font-weight: 100;
    color: #4449;
    width: 90%;
}

.boton-segunda-parte{
    margin-top: 35px;
}

.bottom-segunda-parte{
    width: 30%;
    height: 45px; 
    background: rgb(25, 36, 64);
    text-align: center;
    border-radius: 35px;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-style: none;
}

.box-imagen1-parte2{
    margin-right: 150px;
}

.segunda-parte-flex-2{
     margin-top: 100px;
    margin-left: 200px;
    display: flex;
    justify-content: flex-end;
}

.conjunto-parte2-3{
    margin-right: 100px;
}

.box-title-pass-flex{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.title-pass-flex{
    font-family: arial;
    font-weight: 800;
    font-size: 40px;
}

.pass-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 55px;
    font-family: arial;
    box-sizing: border-box;
}

/*  .pass-flex:first-child{
    background: transparent;}  */




.fondo-pass-1{
    background: transparent;
    width: 25%;
    height: 465px;
}

.fondo-pass-2{
    background-color: rgb(25, 36, 64);
    width: 25%;
    height: 465px;
    border-radius: 4px;
}

.fondo-pass-3{
    width: 25%;
    height: 465px;
    background: transparent;
}

.box-pass{
    margin: 40px;
}

.price{
    letter-spacing: 1px;
}

.simbolic{
    font-size: 15px;
    font-weight: bolder;
}

.number{
    font-size: 70px;
    font-weight: 800;

}

.minimalista{
    font-weight: bolder;
}

.pass-description p{
    line-height: 30px;
}

.box-bottom-pass-1{
    margin-top: 40px;
    
}

.boton-pass-1{
    border-radius: 35px;
    width: 40%;
    height: 100px;
    height: 45px;
    font-weight: bolder;
    background: transparent;
    font-family: arial;
    color: rgb(25, 36, 64);
    border: solid 3px rgb(25, 36, 64);
    border-style: none;
}

.title-pass{
    color: #FFF;
}

.price-2{
    letter-spacing: 1px;
}

.simbolic-2{
    color: #fff;
     font-size: 15px;
    font-weight: bolder;
}

.number-2{
    color: #fff;
    font-size: 70px;
    font-weight: 800;
}

.minimalista-2{
    color: #fff;
    font-weight: bolder;
}

.pass-description-2 p{
    color: #fff;
    line-height: 30px;
}

.box-bottom-pass-2{
    margin-top: 40px;
    
}

.boton-pass-2{
    border-radius: 35px;
    width: 40%;
    height: 100px;
    height: 45px;
    font-weight: bolder;
    background: rgb(0, 255, 173);
    font-family: arial;
    border: none;
    color: rgb(25, 36, 64);
    border-style: none;

}

.logos-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background: rgb(236, 238, 239);
    padding: 80px;
    box-sizing: border-box;
    margin-top: 100px;
}

.fondo-contact{
    display: flex;
    justify-content: space-between;
    background: url(../assets/images/contact-bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 450px;
    font-family: arial;
    box-sizing: border-box;
}

.contenido-contact-us{
    width: 100%;
    font-family: arial;
    color: #fff;
}
/* aca esta para mover todo el bloque contact-us*/
.space-contact-us{
    margin-top: 85px;
    margin-left: 150px;
    width: 50%;
}

.title-contact-us{
    width: 90%;
    font-size: 32px;
}

.texto-contact-us{
    width: 100%;
    font-weight: 100;
    margin-top: 20px;
}

.data-list-contact-us{
    margin-top: 25px;
    font-weight: 100;
    line-height: 35px;
}
.contenido-formulario{
    color: rgb(0, 255, 173);
    font-family: arial;
    font-size: 16px;
    font-weight: 100; 
}

.space-formulario-flex{
    display: flex;
    margin-right: 200px;
    margin-top: 100px;
}

form{
    padding: 10px;
    box-sizing: border-box;
}

.your{
    font-family: arial;
    font-weight: 100;
    background: transparent; 
    border: none;
    border: solid rgb(0, 255, 173) 1px;
    border-radius: 4px;
    height: 30px;
    width: 200px;
}

.mensaje{
    color: rgb(0, 255, 173);
    font-family: arial;
    font-weight: 100;
    background: transparent;
    border: none;
    border: solid 1px rgb(0, 255, 173);
    border-radius: 4px;
    width: 210%;
    height: 100px;
}

.space-mensaje{
    margin-top: 10px;
}

.boton-space{
    margin-top: 25px;
}

.boton-contact-us{
    width: 210%;
    height: 40px;
    background: rgb(0, 255, 173);
    border: none;
    border-radius: 35px;
    font-family: arial;
    font-size: 16px;  
    border-style: none;    
}

footer{
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background: rgb(24, 36, 64);
    align-items: center;
}

.copyright{
    font-family: arial;
    font-size: 16px;
    color: #fff;
    font-weight: 100;

}

.facebook{
    width: 50px;
    height: 50px;
}
.box-facebook{
    width: 5px;
}

@media (max-width: 1279px){
    body{
        width: 100%;
    }

    header{
        width: 100%;
    }

    .conjunto-header-1{
        margin-top: -10px;
    }

    .contenido-header{
        margin-top: 10px
    }

    .contenido-header p{
        font-size: 18px;
    } 
    
    .box-botton-header{
        margin-top: 20px;
    }

    .segunda-parte-flex{
        margin: 150px;
    }
    
    .conjunto-parte2-2{
        width: 300px;
    }

    .title-segunda-parte h2{
        font-size: 36px;
    }

    .contenido-segunda-parte{
        width: 220px;
    }

    .contenido-segunda-parte p{
        font-size: 16px;
    }

    .bottom-segunda-parte{
        width: 120px;
    }
    .imagen1-parte2{
        width: 450px;
    }   
    .box-imagen1-parte2{
        margin-right: 250px;
        box-sizing: border-box;
    }

    .conjunto-parte2{
        margin-right: 55px;
    }

    .contenido-segunda-parte{
        width: 200px;
        margin-top: 10px;
    }

    .contenido-segunda-parte p{
        width: 155px;
    }

    .imagen2-parte2{
        width: 500px;
    }

    .boton-segunda-parte{
        margin-top: 10px;
    }

    .fondo-pass-1{
        width: 300px;

    }

    .fondo-pass-2{
        width: 300px;
    }

    .fondo-pass-3{
        width: 300px;
    }

    .boton-pass-1{
        width: 100px;
    }

    .boton-pass-2{
        width: 100px;
    }

    .boton-pass-3{
        width: 100px;
    }

    .space-contact-us{
        width: 60%;
        margin-left: 100px;
        margin-top: 40px;
    }

    .title-contact-us h2{
        font-size: 46px;

    }

    .space-formulario-flex{
        margin-right: 50px;

    }
    
}

@media (max-width:920px){
        .segunda-parte-flex{
            margin: 110px;
            margin-top: 100px;
        }

        .contenido-segunda-parte{
            margin-top: 10px;
        }
        .contenido-segunda-parte p{
            width: 100%;
            text-wrap: left;
        }

        .boton-segunda-parte{
            margin-top: 25px;
        }

        .imagen1-parte2{
            width: 400px;
        }

        .conjunto-parte2-3{
            margin-right: 25px;
        }
        
        .logos-flex{
            padding-left: 15px;
            padding-top: 70px;
        }

        .logos-flex img{
            width: 125px;
        }

        .space-contact-us{
            margin-left: 50px;
            width: 80%;
        }

        .title-contact-us h2{
            font-size: 44px;
        }

        .space-formulario-flex{
            margin-right: 20px;
            margin-top: 25px;
        }
}

@media (max-width: 768px){
        header{
        background-size:cover;
        background-repeat: no-repeat;
        background-position: left; 
        width: 100%;
        }

        .flex-header{
            padding-left: 60px;
            display: flex;
            
        }   

        .titulo-header{
            width: 100%;
        }

        .titulo-header h1{
            font-size: 44px;
        }

        .contenido-header{
            width: 210px; 
         }

        .contenido-header p{
            font-size: 16px;
        }

        .box-botton-header{
            margin-top: 55px;
        }  

        .conjunto-header-2{
            width: 100%;
        }
        .abajito{
            margin-top: 15px;
            margin-left: 100px;
        }

        .box-smart1{
            width: 100%;
        }

        .box-smart1 img{
            width: 110px; 
        }
        .box-smart1 h2{
            font-size: 18px; 
         }

        .box-smart1 p{
            font-size: 12px;
        }
     
        .segunda-parte-flex{
            margin-left: 30px;
        }

        .title-segunda-parte h2{
            font-size: 26px;
        }

        .contenido-segunda-parte{
            width: 140px;
        }

        .contenido-segunda-parte p{
            font-size: 14px;
        }

        .boton-segunda-parte{
            margin-top: 25px;
        }

        .bottom-segunda-parte{
            width: 110px; 
            font-size: 16px;
        }

        .conjunto-parte2-2{
            width: 200px;
        }

        .box-imagen1-parte-2{
            width: 100%; 
         }
        .imagen1-parte2{
            width: 255px;
            margin-top: 35px; 
        }
     
        .conjunto-parte2-3{
            width: 100%; 
        }

        .box-imagen2-parte2{
            width: 100%;
        }

        .imagen2-parte2{
            width: 300px;
            margin-top: 35px;
        }
    
        .boton-segunda-parte{
            margin-top: 15px;
        }

        .bottom-segunda-parte{
            font-size: 16px;
        }

        .title-pass-flex{
            font-size: 34px;
         }
        
         .pass-flex{
            margin-top: 35px;
            display: flex;
            flex-wrap:wrap
         }

         .box-pass{
            width: 200px;
         }

         .fondo-pass-2{
            text-align: center;
         }

         .fondo-pass-3{
            height: 400px;
         }

         .title-pass-1 h2{
            font-size: 20px;
         }

         .number{
            font-size: 56px;
         }

         .pass-description p{
            font-size: 12px;
         }

         .box-bottom-pass-1{
            margin-top: 30px;
         }

         .boton-pass-1{
            font-size: 16px;
         }

         .title-pass h2{
            font-size: 16px;
         }

         .number-2{
            font-size: 56px;
         }

         .pass-description-2 p{
            font-size: 12px;
         }

         .title-pass-1 p{
            font-size: px;
         }

         .logos-flex{ 
            margin-top: 10px;
            padding-right: 50px; 
         }
         .logos-flex img{
            width: 75px; 
         }

         .fondo-contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
         .space-contact-us{
            width: 80%;
            margin-left: 20px; 
            margin-top: 15px;
            text-align: center;
         }
    
         .title-contact-us h2{
            font-size: 30px;
         }

         .texto-contact-us{
            width: 100%;
         }
         .texto-contact-us p{
            font-size: 14px;
         }

        .data-list-contact-us{
            margin-top: 5px;
        }

         .space-formulario-flex{
            margin-top: -10px;
            padding-left: 10px;
         }

         .space-mensaje{
            margin-top: 0px;
         }

         .mensaje{
            height: 80px;
         }

         .boton-space{ 
            margin-top: 10px;
         }
         
         .copyright p{
            font-size: 14px; 
         }

         .facebook{
            width: 25px;
         }

}
@media(max-width: 480px){
    body{
        width: 100%;
    }

    header{
        width: 100%;
    }

    .flex-header{
        padding-left: 25px;
        padding-top: 15px;
    }

    .logo{
        width: 50px;
        height: 50px;
    }

    .titulo-header h1{
        font-size: 40px;
    }

    .primera-parte{
        margin-top: 35px;
    }

    .titulo-primera-parte span{
        font-size: 24px;
    }

    .primera-parte-flex{
        flex-wrap: wrap;
    }

    .title-smart1 h2{
        font-size: 22px;
    }

    .contenido-smart1 p{
        font-size: 18px;
    }

    .segunda-parte-flex{
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
    }

    .conjunto-parte2{
        margin-left: 80px;
    }

    .boton-segunda-parte{
        margin-top: 30px;
    }

    .bottom-segunda-parte{
        width: 125px;
    }

    .imagen1-parte2{
        width: 250px;
    }

    .segunda-parte-flex-2{
        margin-top: 30px;
        margin-left: 0px;
        flex-wrap: wrap;
    }

    .imagen2-parte2{
        width: 270px;
    }

    .conjunto-parte2{
        margin-left: 100px;
    }

    .boton-segunda-parte{
        margin-top: 20px;
    }

    .box-title-pass-flex{
        margin-top: 45px;
    }

    .title-pass-flex{
        font-size: 32px;
    }

    .logos-flex{
        flex-wrap: wrap;
    }

    .space-contact-us{
        text-align: center;
    }
    
    .title-contact-us h2 {
        font-size: 26px;
    }

    .texto-contact-us{
        margin-top: 15px;
    }

    .data-list-contact-us{
        font-size: 14px;
    }

    .your{
        width: 150px;
    }
    
    footer{
        padding: 10px;
    }

    .copyright p{
        font-size: 12px;
    }

}
